<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>野外救援系统</title>
    <link rel="stylesheet" href="/css/layui.css">
    <link th:href='@{//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css}' rel='stylesheet' />

    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
            integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
            crossorigin=""></script>
    <style>
        body { margin:0; padding:0; }
        #map { position: absolute; top:0; bottom:0; right:0; left:0; }
    </style>

    <script th:src='@{/js/Leaflet.LocationShare.js}'></script>
    <style>
        .mapContainer {
            border-radius: 8px;
            z-index: 5000;
        }
        .crop-box {
            width: 70px;
            height: 50px;
            overflow: hidden;
        }
        .crop-box img {
            max-height: 50px;
            max-width: 70px;
            margin: 0px 0px 0px 0px;
            float:right;
        }
    </style>
</head>

<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">SEARCH</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg}" class="layui-nav-img">
                    ${username}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">退出</a></dd>
                    <dd><a href="">注销</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">Sign out</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" th:href="@{/mission/main}">任务管理</a>
                </li>
                <li class="layui-nav-item">
                    <a calss="" th:href="@{/user/main}">用户管理</a>

                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/computer/main}">主机管理</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/log/main}">日志管理</a>
                </li>
                <li class="layui-nav-item"><a href="">the links</a></li>
            </ul>
        </div>
    </div>

    <!-- 内容主体区域-->
    <div class="layui-body">
        <div id='map' style="width: 100%; height: 100%;" class='mapContainer img-responsive'></div>
        <div style="float:right">
            <table>
                <tr>
                    <td style="width:50px">
            <span class="crop-box">
              <a href="//www.cliffcloud.com">
                <img class="topImage"
                     th:src="@{//cliffcloud.github.io/Leaflet.LocationShare/deps/cliffcloud_logo_small.png}"/>
              </a>
            </span>
                    </td>
                    <td style="width:50px">
            <span class="crop-box">
              <a th:href="@{//github.com/CliffCloud/Leaflet.LocationShare}"><img class="topImage" th:src="@{//assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png}" /></a>
            </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class='col-md-1' style="float:right;"></div>
</div>

</body>

<script>
    const map = L.map( 'map' ).setView( [39.930868, -111.634911], 17 );
    const northWestLatitude = 39.932408;
    const northWestLongitude = -111.641061;
    const sorthEastLatitude = 39.929328;
    const sorthWestLongitude = -111.634911;
    // L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    L.esri.basemapLayer('Topographic').addTo(map);

    const Http = new XMLHttpRequest();
    const url='http://47.100.138.128/608fast';
    Http.open("POST", url);
    Http.send();

    function getColor( value ) {
        if(value > 0.5) return '#ff2423'
        else return '#ad3422'
    }

    Http.onreadystatechange = (e) => {
        if (Http.readyState === XMLHttpRequest.DONE) {
            if (Http.status === 200) {

                var json = JSON.parse(Http.responseText);
                // var data = json.Data
                var matrix = json["matrix_prob"];
                var length = (northWestLatitude - sorthEastLatitude)/32;
                var height = -(northWestLongitude - sorthWestLongitude)/19;
                for(var i = 0; i <32 ; i++){
                    for(var j = 0 ; j<19;j++){
                        var red = 0;
                        var blue = 0;
                        var green = matrix[i][j]*255;
                        var bounds = [
                            [northWestLatitude-(length*i), northWestLongitude+(height*j)], [northWestLatitude-(length*(i+1)), northWestLongitude+(height*(j+1))]
                        ];
                        L.rectangle(bounds, {color: "rgb("+red+","+green+","+blue+")", weight: 0}).addTo(map);

                        // zoom the map to the rectangle bounds
                        map.fitBounds(bounds);
                    }
                }
                // var layerGroup=L.LayerGroup;
                //
                // layerGroup.addLayer(L.rectangle([
                //     [39.932408, -111.641061], [39.930868, -111.634911]
                // ], {color: getColor(matrix[0][0])}));
                // layerGroup.addLayer(L.rectangle([
                //     [39.930868, -111.634911], [39.929328, -111.641061]
                // ], {color: getColor(matrix[0][0])}));
                // layerGroup.addLayer(L.rectangle([
                //     [39.929328, -111.641061], [39.930868, -111.634911]
                // ], {color: getColor(matrix[0][0])}));
                // layerGroup.addLayer(L.rectangle([
                //     [39.930868, -111.634911], [39.929328, -111.634911]
                // ], {color: getColor(matrix[0][0])}));
                //
                // map.addLayer(layerGroup);

            } else {
                console.log('There was a problem with the request.');
            }
        }
    }


    // define rectangle geographical bounds
    /*var bounds = [
        [39.932408, -111.641061], [39.929328, -111.634911]
    ];

    // create an orange rectangle
    L.rectangle(bounds, {color: "#ff7800", weight: 1}).addTo(map);

    // zoom the map to the rectangle bounds
    map.fitBounds(bounds);*/


</script>
</body>
</html>